body,
html {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Raleway';


}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

a {
    text-decoration: none;
}


@media screen and(max-width:768px) {
    body {
        width: min-content;

    }
}